
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

body {
    font-family: 'Noto Sans JP', sans-serif;	
	background: #242629;
	/* cardhover */
	width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;  /*Espaciado entre letras*/
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */

.navbar {
	background: #242629;
	position: sticky;
	top: 0;
}

.navbar a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navbar a:hover {
	background: #1D2F3D;
	color: #fff;
	text-decoration: none;
}

#blog {
	background-color: #16161a;
}
.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	
}

/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */

.contenedor-imagen {
	height: 100vh;
}

.contenedor-imagen img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	object-fit: cover;
	object-position: 0 bottom;
}

/* * ============================== */
/* * ========= CARD HOVER ======== */
/* * ============================== */

.container{
    width: 100%;
    max-width:  1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    margin: auto;
	margin-top: 50px;
	margin-bottom: 70px;
}

.container .card {
    width: 900px;
    height: 400px;
	background-color: #16161a;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2); /*Color sombreado de card*/
    overflow: hidden;
    margin: 20px;
    text-align: center; /*Alineamos texto*/
    transition: all 0.25s; 
    /* background-color: beige; */
    /* Linea background-color agregada */
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.container .card img {
    width: 330px;
    height: 220px;
}

.container .card h4 {
    /* font-weight: 600; */
	font-size: 60px;
	font-family: 'Poppins', sans-serif;
	color: seashell;
}

.container .card p {
    padding: 0 1rem;
    font-size: 20px;
    font-weight: 300;
	font-family: 'Poppins', sans-serif;
	color: seashell;
}

/* link Leer mas */
.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

main {
	min-height: 100vh;
}

main .contenido p {
	margin-bottom: 20px;
	line-height: 30px;
	color: #525151;
}

main .contenido .titulo {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	/* padding-top: 40px; */
}

main .contenido .fecha {
	font-size: 14px;
	color: #B5B5B5;
}

/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */

aside {
	min-width: 30%;
	margin: 40px 20px 20px 0;
	height: 100%;
	background: #1D2F3D;
	padding: 20px;
	border-radius: 3px;
	position: sticky;
	top: 20px;
}

aside .titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
	color: #f2f2f2;
}

aside .indice a {
	display: block;
	margin-bottom: 10px;
	color: #FFCD48;
}

/* * ============================== */
/* * ========== POST ============ */
/* * ============================== */
main .contenedor{
	padding: 80px 0px;
}

main .post {
	background-color: #242629;
	border-radius: 3px;
}

/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */



/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 900px){
	.navbar .contenedor {
		flex-wrap: wrap;
		margin: 0;
		width: 100%;
	}

	.navbar a {
		width: auto;
		flex: 1;
	}

	.contenedor-imagen {
		height: 50vh;
	}

	main .contenedor {
		flex-direction: column;
	}
}